*.sh text eol=lf
*.lua text eol=lf
*.htm text eol=lf
*.js text eol=lf
*.cjs text eol=lf
*.py text eol=lf
*.yml text eol=lf
files/common/usr/sbin/fwenv_get text eol=lf
files/common/usr/sbin/fwenv_set text eol=lf
